/*以下为侧边栏部分*/
.left {
	font-family: "微软雅黑";
	/*总体字体设置		*/
}
.affix {
	padding: 0 0em  0 1em ;
	/*由于浮动引起的重调整*/
}
.right {
	height: 114.1em;	
}
.left div {	
	color:#fa4704;
}
/*div.logo{
	text-align: center;
	margin-top: 0.4em;
	font-size: 6em;
	height: 2.2em;
}*/
.nav {	
	font-size: 1.12em;
	/*font-size: 16px;*/
	margin-top: 2.2em;
}
.content a {
	color: rgb(255,120,20);
	text-decoration: none;
}
.nav a {
	text-decoration: none;
	color:#fa4704;	
	font-size: 1.08em;
}
.column hr {
	margin-top: 0.7em;
	margin-bottom: 0.8em;
	width: 16.5em;
	color: #bbb;
	size:2px;
	border:solid 1.2px #ddd;
}

.columnbox {
	height: 30em;
	/*margin-top: 0.2em;*/
}

div.column {
	height: 6.7em;
}

div.column .title {	
	font-size: 1.12em;	
	/*margin-top:2.7em; */
}

div.column .content  {
	margin-top: 0.5em;	
	font-size: 1.05em;
	font-size: 14px;
	margin-left: 2em;
	font-weight: bold;
}
div.column .content div {
	margin-top: 0.7em;
}
.container
{
	background-image: url(images/background.jpg);
}

/*以下为页脚部分*/
.footer {
	height: 15em;
	color: #fff;
	color: rgb(128,125,125);
	

}
.col-md-4>.row.title
{
	font-size: 1.12em;
	margin-bottom: 1.4em;
	font-weight: bold;
}
.col-md-4.rightfoot>.row.contain
{
	font-size: 1em;
	line-height: 1.8em;
	width: 25em;	
}
.col-md-4.leftfoot>.row.contain
{
	font-size: 1em;
	width: 24em;

	
}
.footer>.row>.col-md-4 {
	padding: 1.8em 3.5em 0 3.5em;

}
.rightfoot span {
	margin-right: 1em;
}
.logo {
	font-size: 3em;
	text-align: center;
	color:#fa4704;
	height: 1.7em;	
	width: 8.3em;
	margin-top:1em;
	margin-left: -0.5em;
	background-color: rgba(0,0,0,0.5);

}

/*以下是右边内容*/
.col-md-9 {
	font-family: "微软雅黑"；
}

.left_content {
	float: left;
	margin: 2.14em;
	background-color: #FFFFFF;
	height: 32.86em;
	position: absolute;
	top: 0em;
	left: -1.1em;
}

.right_content {
	float: left;
	margin: 2.14em;
	background-color: #FFFFFF;
	height: 32.86em;
	position: absolute;
	top: 0em;
	left: 9.2em;
}

.second_content {
	float: left;
	margin: 2.14em;
	background-color: #FFFFFF;
	width: 58.93em;
	height: 16.43em;
	position: absolute;
	top: 35em;
	left: -2.1em;
}

.box_img {
	float: left;
	margin: 1.43em;
	position: absolute;
	top: 0em;
	left: 0em;
}

.box_label {
	font-family: "微软雅黑";
	font-size: 1.12em;
	color: #FFFFFF;
	position: absolute;
	top: 1.2em;
	left: 6em;
}

.box_label a:visited {color: #FFFFFF;}

.left_article {
	float: left;
	margin: 0em;
	padding: 3.5em 0em 0em 3.5em;
	position: relative;
	top: -3em;
	left: -2em;
	text-indent: 2em;
	font-size: 1.1em;
}

.left_button {
	border-radius: 0.7em;
	position: relative;
	top: 0em;
	left: 28em;
}

.article_ex {
	position: absolute;
	top: 23.5em;
	left: 4em;
	font-size: 1.3em;
}

.second_article {
	float: left;
	margin: 0em;
	padding: 0em 0em 0em 45.5em;
	position: relative;
	top: -13em;
	left: -1em;
	text-indent: 2em;
	font-size: 1.1em;
}

.second_ex {
	position: absolute;
	top: 10em;
	left: 38.5em;
	font-size: 1.3em;
}





